@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;0,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: aliceblue;
}

.proSection {
    display: flex;
    background-color: white;
}

.navbar-section {
    position: sticky;
    top: 0;
}

.navSection {
    display: flex;
    width: 100%;
    min-width: 100vw;
    height: 80px;
    background-color: black;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 0px 1rem; /* more responsive padding */
}

.title h2 {
    color: white;
}

.custom-link {
    text-decoration: none;
}

.user {
    display: flex;
    width: 20%;
    justify-content: space-between;
    align-items: center;
}

.search {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 100px;
}

.search input {
    width: 80%;
    height: 2rem;
    border-radius: 10px;
    padding-left: 10px;
    font-weight: 400;
    font-size: medium;
}

.imgBox {
    width: 80%;
    padding-left: 20px;
}

.proImage {
    width: 80%;
}

.proTitle h2 {
    margin: 10px;
}

.subMenu ul li {
    list-style: none;
    margin: 26px;
    margin-top: 10px;
    cursor: pointer;
}

.subMenu ul li:hover {
    border-bottom: 2px solid white;
    color: black;
}

.subMenu {
    background-color: gray;
    color: azure;
    height: 50px;
}

.subMenu ul {
    display: inline-flex;
}

.menu-toggle{
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 1.6rem;
    cursor: pointer;
}

.pageSection {
    margin-left: 220px; /* space for sidebar on larger screens */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr)); /* responsive grid */
    gap: 1rem;
    padding: 1rem;
}

.pageImg {
    width: 100%;
    aspect-ratio: 1/1; /* keep cards square */
    overflow: hidden;
    display: block;
    border-radius: 6px;
}

.pageImg img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* maintain cover behavior and keep images responsive */
    display: block;
}

.pageImg img:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out;
}

.ind-image {
    width: 100%;
    max-width: 500px;
    height: auto;
}

.ind-section {
    display: flex;
    gap: 1rem;
    align-items: flex-start;
    flex-wrap: wrap;
}

.ind-image img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.ind-details {
    padding: 20px;
}

.space {
    margin: 10px;
}

.ind-details button {
    background-color: orangered;
    padding: 10px;
    width: 10rem;
    border-radius: 5px;
    columns: white;
}

.ind-details button:hover {
    background-color: green;
    color: white;
    cursor: pointer;
}

.fullpage {
    display: flex;
}

.pro-selected {
    width: 30%;
    border: 1px solid black;
    margin-right: 20px;
}

.pro-selected {
    position: fixed;
    width: 200px;
    top: 100;
    left: 0;
    height: 100vh;
    background-color: aliceblue;
    overflow-y: auto;
    padding: 20px;
}

.pageSection {
    margin-left: 220px;
}

.pro-input input {
    margin: 5px;
}

ul li {
    color: white;
}

.cart-section {
    display: flex;
    border: 3px double gray;
    width: 50%;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

.cart-img img {
    width: 50%;
}

.cart-details {
    width: 50%;
}

.cart {
    color: white;
}

.cart span {
    color: orangered;
}

.cart span {
    font-size: x-large;
    margin-left: 5px;
    font-weight: 600;
}

.y-cart {
    text-align: center;
}

.empty {
    text-align: center;
}

.removeBtn {
    padding: 10px;
    width: 10rem;
    background-color: rgb(241, 79, 79);
    color: white;
}

.removeBtn:hover {
    background-color: red;
    cursor: pointer;
}

@media screen and (max-width: 575px) {
    body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .navbar-section {
        width: 100%;
        max-width: 100vw;
    }
    .subMenu,
    .search,
    .user {
        display: none;
    }
    .menu-toggle{
        display: block;
    }
    /* when menu is toggled we show a full-width vertical menu */
    .subMenu.mobile-active{
        display: block;
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        background-color: black;
        z-index: 40;
    }
    .subMenu.mobile-active ul{
        display: block;
        padding: 1rem;
    }
    .subMenu.mobile-active ul li{
        display: block;
        margin: 10px 0;
        color: white;
    }
    .pageImg img {
        padding-left: 0;
    }
    .user .cart {
        display: block;
        color: white;
    }
    .fullpage {
        width: 100%;
        max-width: 100vw;
    }
    .ind-section {
        flex-direction: column;
    }
    .pro-selected {
        display: none;
    }
    .pageSection {
        margin-left: 0;
        grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    }
    .cart-section {
        width: 60%;
    }
    .cart-details {
        font-size: small;
    }
}

/* Restore previous desktop look on large screens while keeping responsive behavior */
@media screen and (min-width: 992px) {
    .navSection{
        padding: 0px 50px; /* original desktop padding */
    }
    .pageSection{
        grid-template-columns: repeat(4, 300px); /* original fixed columns */
        margin-left: 220px; /* keep space for sidebar */
        gap: 10px;
        padding: 0.5rem 1rem;
        justify-content: start;
    }
    .pageImg{
        width: 250px;
        height: 250px;
        padding-top: 20px;
        border-radius: 0; /* match previous squared look */
    }
    .pageImg img{
        width: 80%;
        height: auto;
        object-fit: contain;
    }
    .ind-image{
        width: 500px;
        height: 500px;
        max-width: none;
    }
    .pro-selected{
        display: block;
        position: fixed;
        width: 200px;
        top: 100px;
        left: 0;
        height: 100vh;
    }
    .menu-toggle{
        display: none; /* hide mobile toggle on desktop */
    }
}